@import "./normalize.css";

/*Переменные*/
:root {
    /*Цвет текста - тип 1*, текст менюшек, фон футера 1 */
    --tc1: #373A39;
    /*Цвет текста - тип 2, заголовки, кнопка, разделительные линии*/
    --tc2: #242121;
    /*Цвет текста - тип 3*/
    --tc3: #777777;
    /*Цвет фона - тип 1*/
    --bgc1: #F6F8FA;
    /*Цвет декора, нижние подчеркивания, текст хедера*/
    --dс1: #FCBB08;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    height: 100vh;
    background: url(./images/header-bg.jpg) no-repeat center center / cover;
}

.header__top {
    min-height: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background-color: white;
}

.logo__link {
    width: 42px;
    height: 42px;
    display: inline-block;
    background: url('./images/logo.svg') no-repeat center center / contain;
}

.menu {
    max-width: 600px;
    flex-grow: 1;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
    color: var(--tc1);
    text-decoration: none;
    padding: 12px 7px;
}

.menu__link--active {
    border-bottom: 2px solid var(--dс1);
}

.header__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__content-inner {
    margin-bottom: 60px;
}

.header__content-title {
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    color: #FFFFFF;
}

.header__content-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2.74286px;
    color: var(--dс1);
}

.about {
    background-color: var(--bgc1);
}

.about-inner {
    padding: 140px 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: -1.65px;
    color: var(--tc2);
    padding-bottom: 24px;
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 4px;
    background-color: var(--dс1);
}

.about__title {
    margin-right: 30px;
    margin-bottom: 80px;
}

.about__text {
    max-width: 770px;
}

.paragraph {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: var(--tc1);
    margin-bottom: 18px;
}

.expertise {}

.expertise__inner {
    padding: 140px 0;
}

.expertise__title {
    margin: 0 15px 100px;
}

.expertise__content {
    display: flex;
    margin-bottom: 110px;
}

.expertise__content-items {
    min-width: 370px;
    padding: 0 15px;
}

.expertise__content-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
    color: var(--tc2);
    margin-bottom: 28px;
    border-top: 2px solid #F0F0F0;
    position: relative;
}

.expertise__content-item:nth-child(1):before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 90%;
    height: 2px;
    background-color: var(--tc2);
}

.expertise__content-item:nth-child(1):after {
    content: "90%";
    position: absolute;
    top: -2px;
    left: calc(90% - 8px);
}

.expertise__content-item:nth-child(2):before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 80%;
    height: 2px;
    background-color: var(--tc2);
}

.expertise__content-item:nth-child(2):after {
    content: "80%";
    position: absolute;
    top: -2px;
    left: calc(80% - 8px);
}

.expertise__content-item:nth-child(3):before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 85%;
    height: 2px;
    background-color: var(--tc2);
}

.expertise__content-item:nth-child(3):after {
    content: "85%";
    position: absolute;
    top: -2px;
    left: calc(85% - 8px);
}

.expertise__content-text {
    padding: 0 15px;
}

.expertise__items {
    display: flex;
    flex-wrap: wrap;
}

.expertise__item {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 0 15px 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.expertise__item-img {
    width: 50px;
    height: 50px;
    margin-right: 35px;
}

.expertise__item-box {}

.expertise__item-title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 4.29px;
    color: var(--tc2);
    margin-bottom: 14px;
}

.expertise__item-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: var(--tc3);
}

.vision {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: var(--bgc1);
}

.vision__img {
    min-width: 50%;
    min-height: 400px;
    flex-basis: 450px;
    flex-grow: 1;
    background: url(./images/picture.jpg) no-repeat center center / cover;
}

.vision__content {
    min-width: 50%;
    flex-basis: 450px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 100px 40px;
}

.vision__inner {
    max-width: 470px
}

.vision__title {
    margin-bottom: 65px;
}

.portfolio {}

.portfolio__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 110px 15px;
}

.portfolio__nav {}

.portfolio__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio__nuv-item {}

.portfolio__nuv-link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
    color: var(--tc1);
    text-decoration: none;
    padding: 12px 7px;
}

.portfolio__nuv-link--active {
    border-bottom: 2px solid var(--dс1);
}

.portfolio__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.portfolio__item-img {
    height: 150px;
    background-color: #777777;
    width: 25%;
    border: 15px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.portfolio__item-img:hover>* {
    display: block;
}

.portfolio__item-img:nth-child(1) {
    height: 60%;
    border-left: 0;
}

.portfolio__item-img:nth-child(2) {
    height: 40%;
    border-left: 0;
}

.portfolio__item-img:nth-child(3) {
    height: calc(100%/3);
}

.portfolio__item-img:nth-child(4) {
    height: calc(100%/3);
}

.portfolio__item-img:nth-child(5) {
    height: calc(100%/3);
}

.portfolio__item-img:nth-child(6) {
    height: 40%;
}

.portfolio__item-img:nth-child(7) {
    height: 60%;
}

.portfolio__item-img:nth-child(8) {
    height: 35%;
    border-right: 0;
}

.portfolio__item-img:nth-child(9) {
    height: 65%;
    border-right: 0;
}

.portfolio__item-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: #FFFFFF;
    margin-bottom: 10px;
    position: relative;
    display: none;
}

.portfolio__item-descr {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #FFFFFF;
    position: relative;
    display: none;
}

.cover {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(36, 33, 33, 0.8), rgba(36, 33, 33, 0.8)), #EDEDED;
    border: 12px solid rgba(255, 255, 255, 0.147164);
    box-sizing: border-box;
    opacity: 0.9;
}

.portfolio__button {
    width: 100%;
    height: 100px;
    background: var(--bgc1);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1.2px;
    color: #242121;
    cursor: pointer;
}

.quotes__inner {
    max-width: 650px;
    padding: 130px 15px;
    margin: 0 auto;
}

.quotes__text {
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    color: var(--tc2);
    margin-bottom: 50px;
}

.quotes__autor {
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #9E9E9E;
}

.video__content {
    width: 100%;
    height: 324px;
    background: url(./images/poster.jpg) no-repeat center center / cover;
}

.statistics {}

.statistics__inner {
    padding: 160px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.statistics__item {
    margin: 0 15px 30px;
}

.statistics__item-num {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    color: var(--tc2);
    text-align: center;
}

.statistics__item-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #00B2A0;
    text-align: center;
}

.slider {
    background-color: var(--bgc1);
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider__items {
    position: absolute;
    left: 0;
    height: 100vh;
    display: flex;
}

.slider__item {
    flex-grow: 1;
    padding: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__item-inner {
    max-width: 1200px;
    flex-grow: 1;
    padding: 0 15px;
}

.slider__item-title {
    max-width: 700px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: var(--tc2);
    margin-bottom: 30px;
}

.slider__item-text {
    max-width: 700px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: var(--tc3);
}

.slider__arrow {
    position: absolute;
    height: 100%;
    width: 115px;
    cursor: pointer;
}

.slider__arrow:hover {
    background-color: rgba(119, 119, 119, 0.2);
}

.slider__arrow--left {
    left: 0;
    background: url(./images/arrow-left.svg) no-repeat center center;
}

.slider__arrow--right {
    right: 0;
    background: url(./images/arrow-right.svg) no-repeat center center;
}

.slider__dots {
    position: absolute;
    bottom: 115px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    max-width: 1200px;
    padding: 0 15px;
}

.slider__dot {
    width: 10px;
    height: 10px;
    background-color: var(--tc2);
    opacity: 0.4;
    margin-right: 15px;
    border-radius: 50%;
}

.slider__dot--active {
    width: 12px;
    height: 12px;
    opacity: 1;
}

.team {
    padding: 120px 0 160px;
}

.team__title {
    margin: 0 15px;
    margin-bottom: 100px;
}

.team__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team__item {
    flex-grow: 1;
    margin: 0 15px 30px;
    flex-basis: 270px;
    max-width: 370px;
}

.team__item-img {
    width: 100%;
    height: 440px;
    margin-bottom: 35px;
}

.team__item-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    text-align: center;
    margin-bottom: 12px;
}

.team__item-position {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #C2C2C2;
}

.pricing {
    padding: 140px 0 160px;
    background-color: var(--bgc1);
}

.pricing__title {
    margin: 0 15px;
    margin-bottom: 90px;
}

.pricing__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pricing__item {
    flex-grow: 1;
    margin: 0 15px 30px;
    flex-basis: 270px;
    max-width: 370px;
    padding: 25px;
    background: white;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.pricing__item-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: var(--tc2);
    margin-bottom: 30px;
}

.pricing__item-rate {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    color: var(--tc2);
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
}

.pricing__item-rate::before {
    content: "$";
    position: absolute;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
    top: 10px;
    left: -28px;
}

.pricing__item-rate::after {
    content: "/ mo";
    position: absolute;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    bottom: 10px;
    right: -42px;
}

.pricing__list {
    margin-bottom: 70px;
}

.pricing__list-item {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--tc2);
    margin-bottom: 30px;
}

.pricing__btn {
    display: block;
    margin: 0 auto;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 1.2px;
    color: var(--tc2);
    margin-bottom: 30px;
}

.contact {}

.contact__content {}

.contact__form {}

.contact__form-input {}

.contact__form-textarea {}

.contact__form-btn {}

.contact__map {}

.footer {}

.footer__content {}

.logo--line {}

.footer__social {}

.footer__social-link {}

.footer__adress {}

.footer__phone {}

.footer__email {}

.footer__copy {}